html {
    background:#EEEEEE;
    font-family:"Helvetica", "Roboto", "Segoe UI", sans-serif;
    color: #222222;
    padding:0;
    margin:0;
}
body {
    min-height:100vh;
    padding:0;
    margin:0;
    overflow-y:auto;
    display:flex;
}
h1, h2, h3, h4, h5, h6 {
    font-family:"Libre Baskerville", "Baskerville", "Didot", serif;
    margin-bottom:0;
    font-weight:400;
}
.grid-item {
    width:100%;
    margin-bottom:10px;
    border: 1px solid #E5E5E5;
    background-color:#E1E1E1;
}
@media only screen and (min-width : 500px) {
    .grid-item {
        width: 50%;
    }
}
@media only screen and (min-width : 800px) {
    .grid-item {
        width: 33.3333%;
    }
}
@media only screen and (min-width: 1200px) {
    .grid-item {
        width:25%;
    }
}
.container {
    padding:1em;
    overflow: auto;
    flex:1
}
.container>.container {
    padding:0;
}
.panel {
    padding-left: 1em;
    padding-right:1em;
    padding-bottom:1em;
    border-radius:1em;
    border: 1px solid #DDDDDD;
}
.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.col-oneunit {
    flex:1;
    padding:0.5em;
}
.col-twounits {
    flex:2;
    padding:0.5em;
}
.fullWidth {
    display:inline-block;
    width:45%;
}
.bigAmp {
    font-weight:bold;
    font-size:150%;
}
.huge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.huge-red {
    background-color: #941C2F;
}
.huge-green {
    background-color:#3EFEF1;
}
.huge-blue {
    background-color:#006494;
}
.bigImgContainer {
    opacity: 0.5;
    position:absolute;
    float: left;
    overflow: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
}
.bigImg {
    height:100vh;
}
.screenshot {
    border-radius:5px;
}
a.silent {
    text-decoration:none;
    color:#222222;
    padding:0.1em;
    transition: all 0.5s ease-in-out;
    font-weight:bold;
}
a.silent:hover {
    background-color:#E5E5E5;
}
a[href^="mailto:"] {
    color:#222222;
    font-weight:bold;
    text-decoration:none;
    margin:0;
}
#ari, #subAri {
    text-align:center;
}
#ari>img {
    min-width:30vw;
    max-width:80vw;
    max-height:40vh;
}
