.main {
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}
.definition,
.origin,
.word,
.synonym,
.remodeling,
.antonym,
.sentence,
.image,
.pOSD{
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex: 1;
    font-size: 20px;
}
* {
    vertical-align: middle;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 20px;
}
#word,
#definition,
#etymology,
#remodeling1,
#remodeling2,
#pOS,
#synonym,
#sentence,
#antonym,
#getImageURL,
.pOs{
    display: flex;
    flex: 1;
    border-radius: 15px;
    padding: 1em;
    border: 0 solid;
    margin: 10px;
}
.button {
    margin: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: #ccc;
    padding: 1em;
    border: 0 solid;
    cursor: pointer;
}
.etymLink {
    vertical-align: middle;
}
.printOnly {
    display: none;
}
@media print {
    #word,
    #definition,
    #etymology,
    #remodeling1,
    #remodeling2,
    .pOs,
    #synonym,
    #sentence,
    #antonym,
    #getImageURL,
    #pOS,
    .button{
        display: none;
    }
    .printOnly {
        display: block;
    }
    .sO {
        display:none;
    }
}