* {
    font-family: Roboto;
    font-weight:300;
}
h1, h2, h3, h4 {
    font-weight:bold;
}
.card {
    padding: 1em;
    box-shadow: 0 5px 10px #aaa;
    margin-bottom:1em;
    background-color: #eee;
    display:none;
}
#main {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
