* {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size:3vh;
}
#container {
    display:flex;
    flex-direction:column;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
#down {
    flex:1;
    background-color: #FFDC00;
}
#docs {
    flex:1;
    background-color: #FF851B;
}
a {
    color:#001F3F;
    text-decoration:underline;
}
a:hover {
    color:#0074D9;
    text-decoration:none;
}
h1 {
    font-size:5vh;
}
h2 {
    font-size:4vh;
}
